form .row{
    margin: 0;
}

.input-field{
    margin-top: 10px;
    margin-bottom: 10px;
}

.placeholder-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: orangered;
    opacity: 1;
}
.placeholder-error::-moz-placeholder { /* Firefox 19+ */
    color: orangered;
    opacity: 1;
}
.placeholder-error:-ms-input-placeholder { /* IE 10+ */
    color: orangered;
    opacity: 1;
}
.placeholder-error:-moz-placeholder { /* Firefox 18- */
    color: orangered;
    opacity: 1;
}